*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.painel{
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: .5rem;
    width: 25rem;
    height: 22rem;
    margin: 1rem auto;
    box-shadow: .5rem .5rem .3rem .01rem #ddd;        
}
#resp{
    background-color: #ddd;
    padding: 1rem;
    width: 23rem;
    height: 20rem;
    border-radius: .5rem;
    color: #787373;
    font-weight: bolder;      
}